:root {
    --primary-color: #2c3e50;
    --secondary-color: #6c757d;
    --success-color: #1cbb8c;
    --warning-color: #f7b84b;
    --danger-color: #f06548;
}

/* ===== Global ===== */
body {
    background-color: #f5f8ff;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Container ===== */
.container-box {
    display: flex;
    gap: 15px;
    /* espacio entre formulario y tabla */
    justify-content: center;
    
}

/* ===== Form Card ===== */
.card-form {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    width: 350px;
}

.card-title {
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
    border-bottom: 2px solid #eaeef5;
    padding-bottom: 10px;
}

/* ===== Table Container ===== */
.table-container {
    min-width: 400px;
    /* ancho mínimo para que se vea más amplia */
    max-width: 400px;
    /* ancho máximo controlado */
    width: 100%;
    margin: 20px auto 0 auto;
}

#tablaUsuarios {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: white;
}

#tablaUsuarios thead th {
    background: white;
    color: var(--primary-color);
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px solid #eaeef5;
}

#tablaUsuarios tbody td {
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #eaeef5;
    background: white;
}

#tablaUsuarios tbody tr:last-child td {
    border-bottom: none;
    background: white;
}

#tablaUsuarios tbody tr:hover {
    background-color: #f8fbff;
}

/* ===== Badges ===== */
.badge {
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 500;
}

.badge-success {
    background-color: rgba(28, 187, 140, 0.15);
    color: var(--success-color);
}

.badge-danger {
    background-color: rgba(240, 101, 72, 0.15);
    color: var(--danger-color);
}